<html>
	<head>
		<meta charset="utf-8">
		{% block htmltitle %}
		<title>{{ title|striptags|e }}{{ titlesuffix }}</title>
		{% endblock %}
		<link rel="stylesheet" href="{{ pathto('_static/reset.css', 1) }}" type="text/css" />
		<link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
	</head>
	<body>
		{% block extrabody %} {% endblock %}

		<div class='document'>
			<div class="nav-content">
				{% block menu %}
				{% set global_toc = toctree(maxdepth=3, collapse=true, includehidden=True) %}
				{% if global_toc %}
					  {{ global_toc }}
				{% endif %}
				{% endblock %}
			</div>
			<div class="rst-content">
				{% include "breadcrumbs.html" %}
				<div role='main' itemscope="itemscope" itemtype="http://schema.org/Article">
					<div itemprop='name' style='display: none;'>{{ title|striptags|e }}</div>
					<div itemprop="articleBody">
					{% block body %}{% endblock %}
					</div>
				</div>
				{% include "footer.html" %}
			</div>
		
		</div>
	</body>
</html>